<h3>Instruktioner</h3>

<ol>
  <li>Välj hur många biljetter du vill köpa</li>
  <li>Välj vilken biljettyp du vill ha för varje biljett i listan till höger</li>
  <li>Klicka på "Till betalning!" för att komma vidare till betalningssidan</li>
</ol>

<section class="select-seats">
  <main>
    <h2>Priser</h2>
    <dl>
      {% if pricings.student %}
        <dt>Student:</dt><dd>{{ pricings.student }}</dd>
      {% endif %}
      {% if pricings.normal %}
        <dt>Fullpris:</dt><dd>{{ pricings.normal }}</dd>
      {% endif %}
      {% if pricings.sponsor %}
        <dt>Sponsor:</dt><dd>{{ pricings.sponsor }}</dd>
      {% endif %}
      <dt>Antal platser kvar:</dt><dd>{{ num_available_seats }}</dd>
    </dl>
    <form method="post" action="{% url "select_seats" show.id %}">
      {% if pricings.sponsor %}
        <div>
          <label for="number-of-sponsor-seats">
            Antal sponsor
            <input type="number" name="sponsor" id="number-of-sponsor-seats" class="number-of-seats" min="0">
          </label>
        </div>
      {% endif %}
      {% if pricings.normal %}
        <div>
          <label for="number-of-normal-seats">
            Antal fullpris
            <input type="number" name="normal" id="number-of-normal-seats" class="number-of-seats" min="0">
          </label>
        </div>
      {% endif %}
      {% if pricings.student %}
        <div>
          <label for="number-of-student-seats">
            Antal student
            <input type="number" name="student" id="number-of-student-seats" class="number-of-seats" min="0">
          </label>
        </div>
      {% endif %}
      <p id="no-seats-selected">Du måste välja minst en biljett för att kunna gå vidare</p>
      {% csrf_token %}
      <div id="booking"></div>
      <input type="submit" id="book-submit-button" disabled="disabled" value="Till betalning!">
    </form>
    <span>eller</span>
    <form method="post" action="{% url 'cancel_reservation' show.id %}">
      {% csrf_token %}
      <input type="submit" id="cancel-reservation-button" value="Avbryt bokning">
    </form>
  </main>
</section>
