{% load static ticket_tags %}
<div style="margin-bottom: 1rem;">
  <div>
    Platser kvar:
  </div>
  <div class="text-4xl">
    {{ num_available_seats }}
  </div>
</div>

<ul>
  {% if pricings.sponsor %}
    <li>
      <div class="flex h-16 items-center">
        <div class="mr-2 ticket-name">
          <div class="text-lg">
            <strong>Guldbiljett</strong>
          </div>
          <div>{{ pricings.sponsor }} SEK</div>
        </div>
        <div>
          <input type="number" name="sponsor" class="number-of-seats fn-number-input" min="0">
        </div>
      </div>
      <div class="ml-2 max-w-sm">
        <p class="flex gap-2">
          <img class="luva" src="{% static 'svg/luva.svg' %}" alt="" data-sponsor-luva>
          {% if pricings.normal %}
            <em>
              Guldbiljetten sponsrar oss med {{ pricings.sponsor|subtract:pricings.normal }} kr, <br>
              stort tack för din gåva!
            </em>
          {% endif %}
        </p>
      </div>
    </li>
  {% endif %}
  {% if pricings.normal %}
    <li>
      <div class="flex h-16 items-center">
        <div class="mr-2 ticket-name">
          <div class="text-lg">
            <strong>Fullpris</strong>
          </div>
          <div>{{ pricings.normal }} SEK</div>
        </div>
        <div>
          <input type="number" name="normal" class="number-of-seats fn-number-input" min="0">
        </div>
      </div>
    </li>
  {% endif %}
  {% if pricings.student %}
    <li>
      <div class="flex h-16 items-center">
        <div class="mr-2 ticket-name">
          <div class="text-lg">
            <strong>Student</strong>
          </div>
          <div>{{ pricings.student }} SEK</div>
        </div>
        <div>
          <input type="number" name="student" class="number-of-seats fn-number-input" min="0">
        </div>
      </div>
    </li>
  {% endif %}
</ul>

<div data-sum-total class="mt-4"></div>
