{% extends "ticket/base.html" %}
{% load tz %}
{% block ticket_content %}
<div class="content_container">
  <section class="contact-details">
    <h2>Kontaktuppgifter</h2>

    <h3>Bokning</h3>
    <dl>
      <dt>Föreställning</dt>
      <dd>{{ reservation.show }}</dd>
      <dt>Antal biljetter</dt>
      <dd>{{num_tickets}}</dd>
    {% if reservation.discount %}
      <dt>Presentkort</dt>
      <dd>{{ reservation.discount.voucher.code }}</dd>
    {% endif %}
      <dt>Platser</dt>
      <dd>
        <ul>
          {% for seat in seats %}
          <li>{{ seat }}</li>
          {% endfor %}
        </ul>
      </dd>
    </dl>
    <p class="fn-session-timeout">Dina platsreservationer är giltiga i <span class="fn-session-timeout-output">30 minuter</span><br/>(till <time data-time="{{reservation.session_timeout|date:'c'}}">{{ reservation.session_timeout|date:"Y-m-d H:i" }}</time>)

    {% if payment_failed %}
    <div>
      <span class="payment-error-message">Betalningen gick inte igenom. Försök igen.</span>
    </div>
    {% endif %}

    <h2>Betalning / Presentkort</h2>


    <p>För att betala dina biljetter, fyll i dina kortuppgifter här nedanför.</p>
    <p>Tänk på att du kan behöva låsa upp ditt kort för internetbetalnigar!</p>

    {% if not reservation.discount %}
    <button id="enter-discount-code">Presentkort</button>
    {% endif %}

    <div id="discount-form" class="hidden" data-discount-code="{{ reservation.discount.voucher.code }}">
        <button id="cancel-discount">Tillbaka</button>

        <p>Om du har ett presentkort måste du använda den innan du kan betala. Detta för att vi behöver räkna om ditt biljettpris efter att du valt att använda din presentkortskod. Annars kommer du betala hela biljettpriset.</p>

        <p>För att använda ett presentkort, fyll i koden nedan och klicka sedan på "Använd Presentkort"</p>

        <form method="POST" action="{% url "apply_voucher" reservation.id %}" class="payment-form" id="discount-form">
            {% csrf_token %}
            <div class="group">
                <label>
                    <span>Presentkort</span>
                    <input type="text" class="field" name="voucher_code"/>
                </label>
            </div>
            <button type="submit">Använd presentkort!</button>
        </form>
    </div>

  <form action="{% url "process_payment" reservation.id %}" method="post" id="payment-form" class="payment-form">
    {% csrf_token %}
    <div class="group">
      <label>
        <span>Namn</span>
        <input name="name" class="field" placeholder="Jane Doe" />
      </label>
      <label>
        <span>Telefonnummer</span>
        <input name="phone" class="field" placeholder="(123) 456-7890" type="tel" />
      </label>
      <label>
        <span>E-postadress</span>
        <input name="email" class="field" placeholder="" type="email" />
      </label>
    </div>
    {% include payment_partial %}
    <button type="submit">Betala {{ reservation.total }} kr</button>
    <div class="outcome">
      <div class="error" role="alert"></div>
    </div>
  </form>
  <div>
  <span>eller</span>
  <form method="post" action="{% url 'cancel_reservation' reservation.show.id %}">
    {% csrf_token %}
    <input type="submit" id="cancel-reservation-button" value="avbryt bokning">
  </form>
  </div>
  </section>
  {% if reservation.total > 0 %}
  <script>
    window.config = window.config || {}
    window.config.payment = '{{ stripe_key }}'
  </script>
  {% endif %}
</div>
{% endblock %}
