{% extends "ticket/base.html" %}
{% load tz static %}
{% block ticket_content %}
  <section class="contact-details pb-4 px-2 max-w-md">
    <h1 class="uppercase text-center text-gold">Bokning</h1>

    <div data-reservation-details>
      {% include "ticket/_reservation_details.html" %}
    </div>

    <p data-fn-session-timeout class="text-sm text-gray-200">
      Din reservation är giltig till
      <time data-time="{{ reservation.session_timeout|date:'c' }}">{{ reservation.session_timeout|date:"H:i" }}</time>
      <span data-fn-session-timeout-output></span>
    </p>

    {% if payment_failed %}
      <div>
        <span class="payment-error-message">Betalningen gick inte igenom. Försök igen.</span>
      </div>
    {% endif %}

    <div {% if contact_details %}hidden{% endif %}>
      <p>
        Var det en av våra medlemmar som fick dig att köpa dina biljetter? Fyll i så
        fall gärna i dess namn som referens!
      </p>
      <div class="form-group">
        <label>
          <span>Referens</span>
          <input type="text" class="field" name="reference" autocomplete="name"/>
        </label>
      </div>
    </div>

    {% if not reservation.discount %}
      <h2 class="text-gold m-0 p-0 mb-1 mt-6">Presentkort</h2>
      <div id="discount-form" data-discount-code="{{ reservation.discount.voucher.code }}">
        <p class="m-0 p-0">
          För att använda ett presentkort, fyll i koden här och klicka sedan på
          "Använd Presentkort", <strong>innan</strong> du betalar med kort.
        </p>

        <form method="POST" action="{% url "apply_voucher" reservation.id %}" class="payment-form" id="discount-form">
          {% csrf_token %}
          <div class="group my-2">
            <label>
              <span>Presentkort</span>
              <input type="text" class="field" name="voucher_code" autocomplete="off" />
            </label>
          </div>
          <button type="submit">Använd presentkort!</button>
        </form>
      </div>
    {% endif %}

    <h2 class="text-gold m-0 p-0 mb-1 mt-6">Betalning</h2>
    <form action="{% url "process_payment" reservation.id %}" method="post" id="payment-form" class="payment-form" {% if reservation.is_free %}data-is-free{% endif %}>
      {% csrf_token %}

      <div {% if contact_details %}hidden{% endif %}>
        <div class="form-group">
          <label>
            <span>Namn</span>
            <input
              name="name"
              type="text"
              autocomplete="name"
              class="field"
              placeholder="Frank Hamer"
              value="{{ contact_details.name }}"
            />
          </label>
          <label>
            <span>Telefonnummer</span>
            <input
              name="phone"
              type="tel"
              autocomplete="tel"
              class="field"
              placeholder="070-1740605"
              value="{{ contact_details.phone }}"
            />
          </label>
          <label>
            <span>E-postadress</span>
            <input
              name="email"
              type="text"
              autocomplete="email"
              class="field"
              placeholder=""
              type="email"
              required
              value="{{ contact_details.email }}"
            />
          </label>
        </div>

        <input name="reference" hidden type="text" value="{{ contact_details.reference }}" />

        <p>Din e-post används endast för att skicka bokningsbekräftelse och information gällande föreställningen.</p>
      </div>

      <p>
        För att betala dina biljetter, fyll i dina kortuppgifter här nedanför. Tänk på
        att du kan behöva låsa upp ditt kort för internetbetalningar!
      </p>

      {% include payment_partial %}

      <button class="p-4 my-4 w-full" type="submit" data-fn-payment-submit-button data-payment-submit-button>
        Betala {{ reservation.total }} kr
      </button>
      <div class="spinner-container hidden">
        <span>Vänta medan vi behandlar din betalning...</span>
        <img class="luva spinner" src="{% static 'svg/luva.svg' %}" alt="">
      </div>
    </form>

    <div>
      <form method="post" action="{% url 'cancel_reservation' reservation.show.id %}">
        {% csrf_token %}
        <span>eller</span>
        <input type="submit" id="cancel-reservation-button" value="Avbryt bokningen">
        <div id="fn-payment-errors"></div>
      </form>
    </div>
  </section>

  {% if reservation.total > 0 %}
    <script>
      window.config = window.config || {}
      window.config.stripeKey = '{{ stripe_key }}'
      window.config.clientSecret = '{{ stripe_payment_indent.client_secret }}'
      window.config.successUrl = '{{ reservation.get_absolute_url }}'
    </script>
  {% endif %}
{% endblock %}
