{% extends "ticket/base.html" %}
{% load static %}
{% block title %}
  Köp biljett - Kårspexet
{% endblock %}
{% block ticket_content %}
  <div style="padding: 1rem;">
    <h2>Köp biljetter för {{ show }}</h2>

    {# TODO: Add poster image #}

    {% if show.production.description %}
      <p>{{ show.production.description }}</p>
    {% endif %}

    {% if show.free_seating %}
      {% include "ticket/_select_seats_free_seating.html" %}
    {% else %}
      {% include "ticket/_select_seats_seatmap.html" %}
    {% endif %}

    <script>
      window.config = window.config || {}
      window.config.seatSelection = {
        allSeats: {{ seats|safe }},
        pricings: {{ pricings|safe }},
        freeSeating: {{ show.free_seating|yesno:"true,false" }}
      }
    </script>
  </div>
{% endblock %}
