{% extends "ticket/base.html" %}
{% load cms_tags sekizai_tags fontawesome %}
{% block ticket_content %}
<div class="poster_container">
  <div class="poster_image">
    {% placeholder "hero_image" %}
  </div>
  <div class="poster_title">
    <h1>{% placeholder "Show Title" %}</h1>
    <p>{% placeholder "eller-titel" %}</p>
  </div>
</div>
<div class="card_container">
  <article class="card">
    <h2>Välj föreställning</h2>
    <ul class="ticket_list">
      {% for show in upcoming_shows %}
      <li>
        <a href="{% url "select_seats" show.id %}">{{ show }}</a>
      </li>
      {% endfor %}
    </ul>
  </article>
</div>
{% endblock %}
