{% extends "ticket/base.html" %}
{% load cms_tags %}
{% block ticket_content %}
  <div class="poster_container">
    <div class="poster_image">
      {% placeholder "hero_image" %}
      <div>
        <h1>{% placeholder "Show Title" %}</h1>
        <p>{% placeholder "eller-titel" %}</p>
      </div>
    </div>
  </div>
  <ul class="mb-8 divide-y divide-gray-300/50">
    {% for show in upcoming_shows %}
      <li class="p-2">
        {% url "select_seats" show.id as show_url %}
        <a href="{{ show_url }}" class="block no-underline text-white hover:bg-neutral-900">
          <article class="show-card">
            <div class="p-4 flex gap-4 items-center">

              <span class="inline-flex items-center">
                <span class="inline-flex text-gold items-center justify-center mr-1">
                  {% include "icons/calendar.svg" %}
                </span>
                <span>{{ show.date|date:"Y-m-d" }}</span>
              </span>

              <span class="inline-flex items-center">
                <span class="inline-flex text-gold items-center justify-center mr-1">
                  {% include "icons/clock.svg" %}
                </span>
                <span class="leading-none">{{ show.date|date:"H:i" }}</span>
              </span>

              <div class="inline-flex items-center">
                <span class="inline-flex text-gold items-center justify-center mr-1">
                  {% include "icons/map-pin.svg" %}
                </span>
                <address class="not-italic"><span>{{ show.venue.name }}</span></address>
              </div>

              {% if show.short_description %}
                <span class="text-gold">{{ show.short_description }}</span>
              {% endif %}

            </div>
          </article>
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
