[run]
branch = True
source = .
omit =
  */migrations/*
  karspexet/wsgi.py
  manage.py
  venv/**/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
skip_covered = true
show_missing = True

[paths]
source = karspexet

[html]
directory = coverage_html_report
