# EditorConfig is awesome: http://EditorConfig.org

# Inspired by https://github.com/django/django/blob/master/.editorconfig

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
# Geared towards Python development, with 4-space indenting
[*]
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf
charset = utf-8

# Django model names and ORM management can cause lines to get fairly long,
# so this is a compromise against PEP8
[*.py]
indent_size = 4
max_line_length = 119

# Makefiles need to use tabs for indentation
[Makefile]
indent_style = tab

[*.js]
indent_size = 4
