*$py.class
*,cover
*.egg
*.egg-info/
*.log
*.manifest
*.mo
*.pot
*.py[cod]
*.so
*.spec
*~
.DS_Store
.Python
.cache
.coverage
.coverage.*
.eggs/
.hypothesis/
.idea/
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.parcel-cache/
.pytest_cache/
.python-version
.tool-versions
.tox/
.vscode
.vscode/
.webassets-cache/
/env.json
__pycache__/
build/
coverage.xml
coverage_html_report/
develop-eggs/
dist/
docs/_build/
downloads/
eggs/
env/
filer_public/
filer_public_thumbnails/
htmlcov/
lib/
lib64/
local_settings.py
node_modules
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
sdist/
staticfiles/
target/
var/
webpack-stats.json
