---
version: "3.7"
services:
  postgres:
    image: "postgres:12"
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: karspexet
      POSTGRES_DB: karspexet
      POSTGRES_HOST_AUTH_METHOD: trust

  backend:
    build: .
    ports:
      - 8000:8000
    environment:
      DATABASE_URL: postgres://karspexet@postgres/karspexet
