[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bpython = "*"
codacy-coverage = "*"
isort = "*"
jedi = "*"
pytest-cov = "*"
pytest-django = "*"
pytest = "*"
factory-boy = "*"
flake8 = "*"

[packages]
django = "<4"
PyQRCode = "*"
cssmin = "==0.2.0"
dj-database-url = "*"
django-assets = "*"
django-cms = "*"
django-filer = "*"
django-inline-svg = "*"
django_sendmail_backend = "*"
djangocms-link = "*"
djangocms-picture = "*"
djangocms-text-ckeditor = "*"
pdfkit = "==0.6.1"
psycopg2-binary = "==2.8.5"
python-dateutil = "==2.8.1"
raven = "*"
sentry-sdk = "*"
slimit = "==0.8.1"
stripe = "*"
uwsgi = "*"
whitenoise = "*"

[requires]
python_version = "3.6"
