{% load staticfiles svg %}
<html lang="sv">
  <head>
    <title>Kårspexet - Biljetter</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
  </head>
  <body>
    <header>
    <span class="logo">{% svg 'luva' %}</span>
    <h1>Kårspexet - Biljetter</h1>
    <menu>
        <li><a href="/">Startsida</a></li>
    </menu>
    </header>
    {% if messages %}
    <section>
        <ul class="messages">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}
    {% block content %}
    {% endblock %}
  </body>
</html>
