{% load staticfiles svg %}
<html lang="sv">
  <head>
    <title>Kårspexet - Biljetter</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
  </head>
  <body>
    <span class="logo">{% svg 'luva' %}</span>
    <h1>Kårspexet - Biljetter</h1>
    {% if messages %}
    <section>
        <ul class="messages">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}
    <main>
      <dl>
        <dt>Föreställning</dt>
        <dd>{{ reservation.show.production }}</dd>
        <dt>Datum</dt>
        <dd>{{ reservation.show.date|date:"Y-m-d H:i" }}</dd>
        <dt>Antal biljetter</dt>
        <dd>{{ seats|length }}</dd>
      </dl>

      <ul>
        {% for seat in seats %}
        <li>{{ seat.name }}</li>
        {% endfor %}
      </ul>
    </main>
  </body>
</html>
