{% extends "ticket/base.html" %}
{% load staticfiles svg %}
{% block ticket_content %}
<div class="ticket_detail">
    <h1>Kårspexet - Biljetter</h1>
    {% if messages %}
    <section>
        <ul class="messages">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}
    <main>
      <dl>
        <dt>Föreställning</dt>
        <dd>{{ reservation.show.production }}</dd>
        <dt>Datum</dt>
        <dd>{{ reservation.show.date|date:"Y-m-d H:i" }}</dd>
        <dt>Antal biljetter</dt>
        <dd>{{ seats|length }}</dd>
      </dl>

      <ul>
        {% for ticket in reservation.tickets %}
        <li><a href="{% url 'ticket_detail' reservation.reservation_code ticket.id %}">{{ seat.name }}</a></li>
        {% endfor %}
      </ul>
    </main>
</div>
{% endblock %}
