{% extends "base.html" %}
{% load staticfiles svg %}
{% block content %}
    <h2>Köp biljetter för {{ show }}</h2>
    <section class="select-seats">
        <main>
            <span class="theater-seat-map">
                {% include "seat_map.svg" with venue=venue taken_seats=taken_seats %}
            </span>
        </main>
        <aside>
            <h2>Dina valda platser</h2>
            <form method="post" action="{% url "select_seats" show.id %}">
                {% csrf_token %}
                <div id="booking"></div>
                <input type="submit" value="Boka!">
            </form>
            <div class="seat-info"></div>
        </aside>
    </section>
    <link rel="stylesheet" href="{% static 'select_seats.css' %}">
    <script src="{% static 'select_seats.js' %}"></script>
    <script>
     setupSelectSeats({{ seats|safe }}, {{ taken_seats|safe }}, {{ pricings|safe }});
    </script>
{% endblock %}
