<html lang="sv">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Kårspexet - Biljett</title>
    <style>
      body {
        font-family: sans-serif;
      }

      dt, dd {
        padding: 0;
        margin: 0;
      }

      dt {
        font-weight: 300;
      }

      dd {
        margin-bottom: 1rem;
      }

      main {
        margin-bottom: 2rem;
      }

      .thin {
        font-weight: 300;
      }
    </style>
  </head>
  <body style="text-align: center;">
    <table style="width: 600px;" cellspacing="0" cellpadding="5">
      <tr>
        <td colspan=2 class="thin" style="color: gray; text-align: center; padding-bottom: 2rem; font-weight: 300;">
          KÅRSPEXET - BILJETT
        </td>
      </tr>
      <tr>
        <td style="padding-right: 3rem; vertical-align: top; text-align: left;">
          <h1>{{ production }}</h1>
          {% if production.alt_name %}
            <em>eller {{ production.alt_name }}</em>
          {% endif %}
          <main class="info">
            <dl>
              <dt>DATUM</dt>
              <dd><strong>{{ show.date|date:"Y-m-d H:i" }}</strong></dd>
              <dt>PLATS</dt>
              <dd><strong>{{ seat.group.name }}: {{ seat.name }}</strong></dd>
              <dt>TEATER</dt>
              <dd>{{ venue }}</dd>
              <dt>ADDRESS</dt>
              <dd>{{ venue.address }}</dd>
            </dl>
          </main>
        </td>
        <td style="vertical-align: top; text-align: right;">
          <aside class="qrcode">
            <img src="{{ qr_code|safe }}" alt="" width="250" height="250" />
          </aside>
        </td>
      </tr>
    </div>
  </body>
</html>
