@use "helpers" as *;

* {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0 auto;
  background-color: black;
  color: white;
  font-family: $font-roboto;
}

a {
  color: $gold;
  font-weight: 700;
  text-decoration: underline;
}
