@use "helpers" as *;

.card_container {
  display: flex;
  flex: 1 0 auto;
  flex-flow: row wrap;
  flex-shrink: 0;
  align-items: flex-start;
  justify-content: space-around;
}

.card_container.select_show {
  flex: 0 0 auto;
}

.card {
  display: block;
  width: 300px;
  justify-content: center;
  padding: 30px 10px;

  .card_image img {
    width: 100%;
    height: auto;
  }

  .card_title {
    font-size: 1.125em;
    font-weight: 700;
    text-align: center;
  }

  .card_text p {
    margin: 0.5em 0 0.5em 0;
    font-size: 1em;
  }

  .card_link {
    a {
      float: right;
      font-size: 1em;
      text-decoration: none;

      &:link,
      &:visited,
      &:hover,
      &:active {
        color: $gold-2;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.show-card:hover {
  background-color: #222;
}

.show-card .alt-name {
  color: white;
}

.show-card em,
.show-card address {
  color: white;
}
