@use "helpers" as *;

.form-group {
  @apply px-4 rounded-md;

  box-sizing: border-box;
  background: white;
  box-shadow: 0 7px 14px 0 rgb(49 49 93 / 10%), 0 3px 6px 0 rgb(0 0 0 / 8%);

  label {
    position: relative;
    display: flex;
    height: 40px;
    color: black;
    font-size: small;
    font-weight: 300;
    line-height: 40px;
    text-align: left;
  }

  label:not(:last-child) {
    border-bottom: 1px solid $light-gray;
  }

  label > span {
    display: inline-block;
    width: 8ch;
    flex-grow: 0;
  }

  input {
    width: 100%;
    box-sizing: border-box;
    padding-right: 10px;
    padding-left: 10px;
    border: 0;
    margin: 2px;
    background: transparent;
    color: black;
    cursor: text;
    font-weight: 300;
    outline: none;
  }

  input::placeholder {
    color: $light-gray;
  }
}
