// stylelint-disable at-rule-no-unknown
@tailwind utilities;

$red-dark: rgb(141, 4, 28);
$red-darker: #590313;
$gold: gold;

.text-gold {
  color: $gold;
}

.bg-red-darker {
  background-color: $red-darker;
}

.text-red-darker {
  color: $red-darker;
}
