/* stylelint-disable no-descending-specificity */
@use "helpers" as *;

.secondary-menu a,
.secondary-menu a:visited {
  margin: 0;
  margin-right: 0.5em;
  color: white;
  font-weight: 400;
}

.list_decorator {
  font-size: small;
}

.poster_container {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
}

.poster_image {
  position: relative;
}

.poster_image img {
  max-width: 100%;
}

.poster_title {
  position: absolute;
  z-index: 1;
  bottom: 10%;
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 1.5em;
  text-shadow: 2px 2px 4px #000;
}

.poster_title {
  h1 {
    margin: 0;
    font-family: $font-trajan;
    font-weight: 400;
  }

  p {
    margin: 0;
    font-family: $font-trajan;
  }
}

.select_show .show-card {
  margin-top: 2em;
  box-shadow: 0 0 6px 1px rgba(255, 221, 0, 0.5);
  text-decoration: none;
}

.cms-placeholder {
  display: none;
}

.partnersContainer {
  width: 100%;
  flex: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 2rem;
  background-color: white;
  color: black;
}

.partnersContainer h1 {
  padding-bottom: 20px;
  margin: 0;
}

.ourPartners {
  color: black;
  text-align: center;
}

.partnerPictures {
  display: flex;
  flex-flow: row wrap;
  align-items: space-around;
  justify-content: center;
}

.partnerPictures img {
  padding: 5px 10px;
}

.ticket-detail {
  padding: 0 40px;
}

.ticket-detail [class^="icon-"] {
  margin: 0 2px;
  color: #fd0;
}

.ticket-detail-header h1 {
  margin-bottom: 0;
}

.content_container {
  flex: 1 0 auto;

  h1 > img {
    width: 100%;
  }

  table,
  table th,
  table td {
    border: none;
  }
}

.alt-name {
  margin-top: 0;
  font-style: italic;
}

.alt-name::before {
  content: "...eller ";
}

ul.show-info {
  list-style: none;
}

.show-info address {
  display: inline;
}

@media screen and (max-width: 600px) {
  .card {
    width: 80%;
  }
}

.styled-form {
  input {
    @apply p-2 w-full box-border border-0 rounded;
  }

  button {
    @apply p-2 rounded-md bg-red-2 text-gold border-0 w-full;
  }
}
