@use "helpers" as *;

$border-style: 1px solid $gray;

.number-input {
  align-items: stretch;
  display: inline-flex;

  input[type="number"] {
    display: flex;
    width: 2rem;
    padding: 0.25rem;
    border: 0;
    border-top: $border-style;
    border-bottom: $border-style;
    border-radius: 0;
    text-align: center;
    height: 100%;
  }

  input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
  }

  button {
    background-color: white;
    border: 0;
    color: black;
    margin: 0;
    padding: 0.25rem 0.5rem;
  }

  button[disabled] {
    background-color: #cacaca;
  }

  button:not([disabled]) {
    cursor: pointer;
  }

  :first-child {
    border: $border-style;
    border-bottom-left-radius: 25%;
    border-top-left-radius: 25%;
  }

  :last-child {
    border: $border-style;
    border-bottom-right-radius: 25%;
    border-top-right-radius: 25%;
  }
}
