@use "helpers" as *;

.hidden {
  display: none;
}

.payment-form .group {
  background: white;
  border-radius: 4px;
  box-shadow: 0 7px 14px 0 rgb(49 49 93 / 10%), 0 3px 6px 0 rgb(0 0 0 / 8%);

  label {
    position: relative;
    display: block;
    height: 40px;
    margin-left: 20px;
    color: black;
    cursor: pointer;
    font-size: small;
    font-weight: 300;
    line-height: 40px;
    text-align: left;
  }

  .group label:not(:last-child) {
    border-bottom: 1px solid #f0f5fa;
  }

  label > span {
    width: 20%;
    float: left;
  }

  .field {
    width: 70%;
    height: 40px;
    padding-right: 10px;
    padding-left: 10px;
    border: 0;
    background: transparent;
    color: black;
    cursor: text;
    float: right;
    font-weight: 300;
    outline: none;
  }
}

.contact-details {
  margin-right: auto;
  margin-left: auto;
}

// Using where to apply "base styling" for this section with lower specificity,
// so we can override it with utility classes later on.
:where(.contact-details) button {
  @apply bg-red-2 border-0 rounded-lg p-2 text-gold cursor-pointer;
}

.payment-error-message {
  padding: 1em;
  background-color: white;
  color: $red-dark;
}

.spinner {
  animation: rotation 2s infinite linear;
}

.spinner-container {
  margin-top: 1em;
  text-align: center;
}
