body {
  background-color: black;
  color: white;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.centering {
  display: flex;
  justify-content: center;
}

.content {
  max-width: 1058px;
  width: 100%;
  position: relative;
  min-height: 100%;
}

ul {
  padding-left: 0;
}

.luva {
  max-width: 5vw;
  height: auto;
}
.list_decorator {
  /*width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgb(222, 210, 95);*/
}

#page {
  padding-top: 70px;
  padding-bottom: 40px;
}

.poster_container {
  width: 100%;
  height: 400px;
  position: relative;
}
.poster_image {
  width: inherit;
  height: inherit;
  position: absolute;
}

.poster_image .cms-plugin{
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: 0 50%;
  position: absolute;
}
.poster_title {
  position: absolute;
  left: 10%;
  bottom: 10%;
  text-shadow: 2px 2px 4px #000000;
  font-size: 1.5em;
}
.poster_title h1 {
  margin: 0;
}
.poster_title p {
  margin: 0;
}

.running_shows {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  padding: 6px;
}

.card_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.card {
  border: 1px solid white;
  width: 300px;
  padding: 10px;
}

.card .card_image .cms-plugin {
  width: 300px;
  height: auto;
}

.partnersContainer {
  width: 100%;
  background-color: white;
  padding-bottom: 25px;
}

.cms-placeholder{
  display: none;
}

.partnersContainer h1 {
  margin: 0;
  padding-bottom: 20px;
}

.ourPartners {
  color: black;
  text-align: center;
}

.partnerPictures {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.partnerPictures .cms-plugin {
  height: 80px;
  width: 200px;
  border: solid black 1px;
}

.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 40px;
  background-color: rgb(141, 4, 28);
}

.footer .footerContent {
  display: flex;
  justify-content: space-around;
  font-size: 12px;
}

.footer .footerElement {
  text-align: center;
  vertical-align: middle;
  line-height: 40px; 
}

.footer .thsLogo {
  width: 32px;
  height: auto;
  padding: 4px;
}

.socialMediaLogo {
  width: 12px;
  height: auto;
  margin-left: 4px;
}