/* stylelint-disable no-descending-specificity */
@use "helpers" as *;

html {
  height: 100%;
}

body {
  display: flex;
  width: 100%;
  max-width: 1058px;
  min-height: 100%;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0 auto;
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

a {
  color: #fd0;
  font-weight: bold;
  text-decoration: underline;
}

.footer {
  display: flex;
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: $red-dark;
  font-size: 14px;
}

.footer .thsLogo {
  width: auto;
  height: 40px;
}

.secondary-menu a,
.secondary-menu a:visited {
  margin: 0;
  margin-right: 0.5em;
  color: white;
  font-weight: normal;
}

footer a {
  &,
  &:hover {
    text-decoration: none;
  }
}

.fa {
  margin-right: 2px;
  color: rgb(222, 210, 95);
  font-size: 1.1em;
}

.list_decorator {
  font-size: small;
}

.poster_container {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
}

.poster_image {
  position: relative;
}

.poster_image img {
  max-width: 100%;
}

.poster_title {
  position: absolute;
  z-index: 1;
  bottom: 10%;
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 1.5em;
  text-shadow: 2px 2px 4px #000;
}

.poster_title h1 {
  margin: 0;
  font-family: "Trajan Pro Regular", serif;
  font-weight: normal;
}

.poster_title p {
  margin: 0;
  font-family: "Trajan Pro Regular", serif;
}

.poster_shadow {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.ticket-detail [class^="icon-"] {
  margin: 0 2px;
  color: #fd0;
}

.select_show .show-card {
  margin-top: 2em;
  box-shadow: 0 0 6px 1px rgba(255, 221, 0, 0.5);
  text-decoration: none;
}

.ticket_list {
  list-style: none;
}

.ticket_list a {
  font-size: 1em;
}

.ticket_list a:link {
  color: rgb(222, 210, 95);
  text-decoration: none;
}

.ticket_list a:visited {
  color: rgb(222, 210, 95);
  text-decoration: none;
}

.ticket_list a:hover {
  color: rgb(222, 210, 95);
  text-decoration: underline;
}

.ticket_list a:active {
  color: rgb(222, 210, 95);
  text-decoration: none;
}

.cms-placeholder {
  display: none;
}

.partnersContainer {
  width: 100%;
  flex: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 2rem;
  background-color: white;
  color: black;
}

.partnersContainer h1 {
  padding-bottom: 20px;
  margin: 0;
}

.ourPartners {
  color: black;
  text-align: center;
}

.partnerPictures {
  display: flex;
  flex-flow: row wrap;
  align-items: space-around;
  justify-content: center;
}

.partnerPictures img {
  padding: 5px 10px;
}

.ticket-detail {
  padding: 0 40px;
}

.content_container {
  flex: 1 0 auto;

  h1 > img {
    width: 100%;
  }

  table,
  table th,
  table td {
    border: none;
  }
}

.alt-name {
  margin-top: 0;
  font-style: italic;
}

.alt-name::before {
  content: "...eller ";
}

.ticket-detail-header h1 {
  margin-bottom: 0;
}

ul.show-info {
  list-style: none;
}

.show-info address {
  display: inline;
}

@media screen and (max-width: 600px) {
  .card {
    width: 80%;
  }
}
