.luva {
  width: 2.5rem;
  height: 2.5rem;
}

.navbar {
  position: relative;
  z-index: 2;
  top: 0;
  width: 100%;
  max-width: 1058px;
  justify-content: space-around;
  background: rgb(141, 4, 28);
  color: #fc0;
  list-style: none;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.nav {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  width: 100%;
  background: rgb(141, 4, 28);
  text-align: left;
}

.nav a {
  text-decoration: none;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav li {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.nav-toggle {
  display: none;
}

.nav-toggle:checked ~ .nav {
  display: flex;
  flex-direction: column;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  height: 100%;
  align-items: center;
  margin-left: 1em;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  position: relative;
  display: block;
  width: 1.5rem;
  height: 2px;
  background: white;
  border-radius: 2px;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  position: absolute;
  content: " ";
}

.nav-toggle-label span::before {
  top: 5px;
}

.nav-toggle-label span::after {
  bottom: 5px;
}

.list-decorator {
  display: none;
}

.navbar .nav-link {
  color: white;
}

.navbar .nav-link:hover {
  color: #c7c7c7;
}

.navbar .selected .nav-link {
  color: #fd0;
}

.navbar .selected .nav-link:hover {
  color: #c7ac00;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  .navbar,
  .nav {
    background: transparent;
  }

  .navbar {
    display: flex;
    height: 4rem;
    align-items: center;
  }

  .nav {
    position: initial;
    display: flex;
    flex-direction: row;
  }

  .luva-mobile {
    display: none;
  }

  .list-decorator {
    display: block;
  }

  .nav ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .nav li {
    padding: 0.25rem;
    margin: 0.5rem;
  }
}
