body {
  padding: 0;
  margin: 0;
}

.navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 70px;
  max-width: 1058px;
  background-color: rgba(0,0,0,0.8);
  color: #fc0;
  z-index: 2;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.navbar ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  height: 30px;
}
.navbar ul li:hover {
  color: rgb(222, 210, 95);
}

.navbar ul li.child {
  text-align: center;
  width: 15vw;
  max-width: 140px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
}

.navbar ul li.selected a {
  color: #fd0;
  text-decoration: underline;
  font-weight: bold;
}

.luva {
  max-width: 5vw;
  height: auto;
}
