.navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 62px;
  max-width: 1058px;
  background-color: rgba(0,0,0,0.8);
  color: #fc0;
  z-index: 2;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.navbar ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30px;
}

.navbar ul li.child {
  text-align: center;
  flex-grow: 1;
  max-width: 120px;
}

.navbar .nav-link {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
}

.navbar .nav-link:hover {
  color: #c7c7c7;
}

.navbar .selected .nav-link {
  color: #fd0;
}

.navbar .selected .nav-link:hover {
  color: #c7ac00;
}

.luva {
  max-width: 5vw;
  max-height: 30px;
}
