@use "helpers" as *;

.payment-form .group {
  background: white;
  border-radius: 4px;
  box-shadow: 0 7px 14px 0 rgba(49, 49, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.08);
}

.payment-form label {
  position: relative;
  display: block;
  height: 40px;
  margin-left: 20px;
  color: black;
  font-size: small;
  font-weight: 300;
  line-height: 40px;
  text-align: left;
}

.payment-form .group label:not(:last-child) {
  border-bottom: 1px solid #f0f5fa;
}

.payment-form label > span {
  width: 20%;
  float: left;
}

.payment-form .field {
  width: 70%;
  height: 40px;
  padding-right: 10px;
  padding-left: 10px;
  border: 0;
  background: transparent;
  color: black;
  cursor: text;
  float: right;
  font-weight: 300;
  outline: none;
}

.payment-form .field::-webkit-input-placeholder {
  color: #cfd7e0;
}

.payment-form .field::-moz-placeholder {
  color: #cfd7e0;
}

.payment-form .field:-ms-input-placeholder {
  color: #cfd7e0;
}

.hidden {
  display: none;
}

.payment-form button {
  display: block;
  width: 100%;
  height: 40px;
  border: 0;
  background: $red-dark;
  border-radius: 4px;
  box-shadow: 0 7px 14px 0 rgba(49, 49, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.08);
  color: #fd0;
  font-size: 15px;
  font-weight: 400;
  line-height: 38px;
  outline: none;
}

.payment-form button:focus {
  background: #fd0;
  color: black;
}

.payment-form button:active {
  background: #fd0;
  color: black;
}

.payment-form button:disabled {
  background: $gray;
}

.payment-form .outcome {
  width: 100%;
  min-height: 24px;
  padding-top: 8px;
  float: left;
  text-align: center;
}

.payment-form .success,
.error {
  display: none;
  font-size: 13px;
}

.payment-form .success.visible,
.error.visible {
  display: inline;
}

.payment-form .error {
  color: #e4584c;
}

.payment-form .success {
  color: #666ee8;
}

.payment-form .success .token {
  font-size: 13px;
  font-weight: 500;
}

section.contact-details {
  margin-right: auto;
  margin-left: auto;
}

.payment-error-message {
  padding: 1em;
  background-color: white;
  color: $red-dark;
}

.spinner {
  animation: rotation 2s infinite linear;
}

.spinner-container {
  margin-top: 1em;
  text-align: center;
}
