@use "helpers" as *;

div.seat-info > * {
  padding: 0.5rem;
  border: 1px dotted;
}

.theater-seat-map svg {
  border: 1px solid grey;
}

.theater-seat-map svg rect.stage {
  fill: none;
  stroke: grey;
  stroke-width: 1;
}

.theater-seat-map svg text.stage-text {
  fill: white;
  font-size: 14;
  text-anchor: middle;
}

.seat {
  fill: grey;
}

.taken-seat {
  fill: $red-dark;
}

.selected-seat {
  fill: #fd0;
}

.seat:not(.taken-seat) {
  cursor: pointer;
}

.select-seats aside {
  padding: 0 1em;
}

#book-submit-button {
  display: inline-block;
  padding: 1em;
  border: 0;
  border-style: outset;
  margin: 1em 0;
  background-color: hsl(349, 94.5%, 28.4%);
  border-radius: 10px;
  color: #fd0;
  font-weight: bold;
}

#book-submit-button:disabled {
  background-color: grey;
  color: black;
}

#cancel-reservation-button {
  padding: 0;
  border: none;
  background-color: black;
  color: #fd0;
  cursor: pointer;
  font: inherit;
}

@media screen and (min-device-width: 960px) {
  .seat:not(.taken-seat):hover {
    fill: #fd0;
  }

  #book-submit-button:hover {
    background-color: hsl(349, 94.5%, 30%);
  }

  #Cancel-reservation-button:hover {
    text-decoration: underline;
  }
}

.ticket-name {
  width: 6rem;
}
