section.select-seats {
    display: flex;
    flex-direction: row;
}

div.seat-info div {
    border: 1px dotted;
    padding: 0.5rem;
}

.theater-seat-map svg {
    border: 1px solid grey;
}

.theater-seat-map svg rect.stage {
    stroke-width: 1;
    fill: none;
    stroke: grey;
}

.theater-seat-map svg text.stage-text {
    font-size: 14;
    text-anchor: middle;
    fill: white;
}

.seat {
    fill: grey;
}

.taken-seat {
    fill: #ff173d;
    fill: rgb(141, 4, 28);
}

.selected-seat {
    fill: #fd0;
}

.seat:not(.taken-seat) {
    cursor: pointer;
}

.seat:not(.taken-seat):hover {
    fill: #fd0;
}
