 /* * {font-family: "Helvetica Neue", Helvetica; font-size: 15px; font-variant: normal; padding: 0; margin: 0;} */

 /* html {height: 100%;} */

 /* body { */
    /* background: #E6EBF1; */
    /* align-items: center; */
    /* min-height: 100%; */
    /* display: flex; */
    /* width: 100%; */
 /* } */

#payment-form {
    width: 480px;
    margin: 20px auto;
}

#payment-form .group {
    background: white;
    box-shadow: 0 7px 14px 0 rgba(49,49,93,0.10), 0 3px 6px 0 rgba(0,0,0,0.08);
    border-radius: 4px;
    margin-bottom: 20px;
}

#payment-form label {
    position: relative;
    color: black;
    font-weight: 300;
    height: 40px;
    line-height: 40px;
    margin-left: 20px;
    display: block;
    text-align: left;
}

#payment-form .group label:not(:last-child) {
    border-bottom: 1px solid #F0F5FA;
}

#payment-form label > span {
    width: 20%;
    float: left;
}

#payment-form .field {
    background: transparent;
    font-weight: 300;
    border: 0;
    color: black;
    outline: none;
    padding-right: 10px;
    padding-left: 10px;
    cursor: text;
    width: 70%;
    height: 40px;
    float: right;
}

#payment-form .field::-webkit-input-placeholder {
    color: #CFD7E0;
}

#payment-form .field::-moz-placeholder {
    color: #CFD7E0;
}

#payment-form .field:-ms-input-placeholder {
    color: #CFD7E0;
}

#payment-form button {
    float: left;
    display: block;
    background: #666EE8;
    color: white;
    box-shadow: 0 7px 14px 0 rgba(49,49,93,0.10), 0 3px 6px 0 rgba(0,0,0,0.08);
    border-radius: 4px;
    border: 0;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 400;
    width: 100%;
    height: 40px;
    line-height: 38px;
    outline: none;
}

#payment-form button:focus {
    background: #555ABF;
}

#payment-form button:active {
    background: #43458B;
}

#payment-form .outcome {
    float: left;
    width: 100%;
    padding-top: 8px;
    min-height: 24px;
    text-align: center;
}

#payment-form .success, .error {
    display: none;
    font-size: 13px;
}

#payment-form .success.visible, .error.visible {
    display: inline;
}

#payment-form .error {
    color: #E4584C;
}

#payment-form .success {
    color: #666EE8;
}

#payment-form .success .token {
    font-weight: 500;
    font-size: 13px;
}
