{% load menu_tags cms_tags sekizai_tags static svg %}
<!doctype html>
<html lang="sv">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% page_attribute "page_title" %}{% endblock %}</title>
    <meta name="description" content="{% page_attribute 'meta_description' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    {% render_block "css" %}
  </head>
  <body>
    {% cms_toolbar %}
    <div class="max-w-screen-lg w-full mx-auto">
      <header class="navbar">
        <img class="luva luva-mobile" src="{% static 'svg/luva.svg' %}" alt="">
        <input type="checkbox" class="nav-toggle" id="nav-toggle" />
        <label for="nav-toggle" class="nav-toggle-label">
          <span></span>
        </label>
        <nav class="nav">
          <ul>
            {% show_menu 0 100 100 0 "menu.html" %}
          </ul>
        </nav>
      </header>
      <main>
        {% block content %}
        {% endblock content %}
      </main>
    </div>

    {% include "_footer.html" %}

    {% block main_js %}{% endblock %}
    {% render_block "js" %}
  </body>
</html>
{% addtoblock "js" %}<script src="https://js.stripe.com/v3/"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script {% if debug %}type="module"{% endif %} src="{% static 'js/index.js' %}"></script>{% endaddtoblock %}
{% addtoblock "css" %}<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">{% endaddtoblock %}
{% addtoblock "css" strip %}
  <style type="text/css" media="screen">
    {% include "_fonts.css" %}
  </style>
{% endaddtoblock %}
