{% load menu_tags cms_tags sekizai_tags staticfiles svg %}
{% load render_bundle from webpack_loader %}
<html>
  <head>
    <title>{% page_attribute "page_title" %}</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <script src="https://js.stripe.com/v3/" async></script>
    <meta type="description" content="Kårspexet är en studentförening på KTH som sätter upp interaktiv humoristisk musikal med historisk anknytning, ett så kallat spex, varje år. Vi är 70 ideellt arbetande amatörer som brinner för att skapa en proffsig produkt med ingenjörsmässiga metoder. Kom gärna förbi och se oss när vi spelar på Södra Teatern!" />
    {% render_bundle "app" "js" attrs="async" %}
    {% render_bundle "style" "css" attrs="async" %}
    {% render_block "js" %}
    {% render_block "css" %}
  </head>
  <body>
    {% cms_toolbar %}
    <div class="navbar">
      <ul>
        {% show_menu 0 100 100 0 "menu.html" %}
      </ul>
    </div>
    {% block content %}
    {% endblock content %}
    <div class="footer">
      <div class="relatedLinks">
        <a href="http://ths.kth.se/"><img class="thsLogo footerElement" src="{% static 'ths_logo.png' %}" /></a>
      </div>
      <div class="socialMedia footerElement">
        <span class="secondary-menu">
          <a href="/foretag">Företag</a>
          <a href="/kontakt">Kontakt</a>
        </span>
        Följ oss på sociala medier:
        <a href="https://www.facebook.com/karspexet.kth/" class="icon-facebook"></a>
        <a href="https://www.instagram.com/karspexet/" class="icon-instagram"></a>
      </div>
    </div>
  </body>
</html>
