{% extends "base.html" %}
{% load cms_tags %}
{% block content %}
  <div class="poster_container">
    <div class="poster_image">
      {% placeholder "hero_image" %}
      <div class="poster_title">
        <h1>{% placeholder "Show Title" %}</h1>
        <p>{% placeholder "eller-titel" %}</p>
      </div>
    </div>
  </div>
  <div class="card_container">
    <div class="card">
      <div class="card_image">{% placeholder "card_1_image" %}</div>
      <div class="card_title"> {% placeholder "card 1 Title" %}</div>
      <div class="card_text"> {% placeholder "card 1 text" %}</div>
      <div class="card_link"> {% placeholder "card 1 link" %} </div>
    </div>
    <div class="card">
      <div class="card_image">{% placeholder "card_2_image" %}</div>
      <div class="card_title"> {% placeholder "card 2 Title" %}</div>
      <div class="card_text"> {% placeholder "card 2 text" %}</div>
      <div class="card_link"> {% placeholder "card 2 link" %} </div>
    </div>
    <div class="card">
      <div class="card_image">{% placeholder "card_3_image" %}</div>
      <div class="card_title"> {% placeholder "card 3 Title" %}</div>
      <div class="card_text"> {% placeholder "card 3 text" %}</div>
      <div class="card_link"> {% placeholder "card 3 link" %} </div>
    </div>
  </div>
  <div class="partnersContainer">
    <h1 class="ourPartners">Våra samarbetspartner</h1>
    <div class="partnerPictures">
      {% placeholder "sponsor_images"%}
    </div>
  </div>
{% endblock %}
