{% extends "base.html" %}
{% load cms_tags  sekizai_tags fontawesome %}
{% block content %}
<div class="poster_container">
    <div class="poster_image">
      {% placeholder "Hero Image" %}  
    </div>
  <div class="poster_title">
    <h1>{% placeholder "Show Title" %}</h1>
    <p>{% placeholder "eller-titel" %}</p>
  </div>
</div>
<div class="running_shows"> 
  <!-- This div should be replaced-->
  <div>
    <span>{% fontawesome_icon 'clock'%} KOMMANDE FÖRESTÄLLNINGAR:</span>
  </div>
  <div>
    <span>{% fontawesome_icon 'calendar' %}27/8</span>
    <span>{% fontawesome_icon 'clock' %}19:00</span>
    <br>
    <span>{% fontawesome_icon 'map-marker' %}Södra Teatern</span>
  </div>
  <div>
    <span>{% fontawesome_icon 'calendar' %}28/8</span>
    <span>{% fontawesome_icon 'clock' %}19:00</span>
    <br>
    <span>{% fontawesome_icon 'map-marker' %}Södra Teatern</span>
  </div>
  <div>
    <span>{% fontawesome_icon 'calendar' %}29/8</span>
    <span>{% fontawesome_icon 'clock' %}19:00</span>
    <br>
    <span>{% fontawesome_icon 'map-marker' %}Södra Teatern</span>
  </div>
  <div>SE FLER</div>
</div>
<div class="partnersContainer">
  <h1 class="ourPartners">Våra Partners</h1>
  <div class="partnerPictures">
    {% placeholder "sponsor image"%}
  </div>
</div>
{% endblock %}
