{% load staticfiles fontawesome%}
{% for child in children %}
    <li>
        <div>
            <a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">{{ child.get_menu_title }}</a>
        </div>
    </li>
    {% if not forloop.last %}
        {% if forloop.counter == forloop.revcounter|add:"-1" %}
            <li><img class="luva" src="{% static 'svg/luva-inkscape.svg' %}"></li>
        {% else %}
            <li><span class="list_decorator">{% fontawesome_icon 'circle' %}</span></li>
        {% endif %}
    {% endif %}
{% endfor %}