{% load static %}
{% for child in children %}
  <li class="child{% if child.selected %} selected{% endif %}{% if child.ancestor %} ancestor{% endif %}{% if child.sibling %} sibling{% endif %}{% if child.descendant %} descendant{% endif %}">
    <a class="nav-link"href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">{{ child.get_menu_title }}</a>
  </li>
  {% if not forloop.last %}
    {% if forloop.counter == forloop.revcounter|add:"-1" %}
      <li>
        <a href="/">
          <img class="luva luva-mobile" src="{% static 'svg/luva.svg' %}" alt="">
        </a>
      </li>
    {% else %}
      <li class="list-decorator">
        <span class="list_decorator text-gold flex h-2">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z" /></svg>
        </span>
      </li>
    {% endif %}
  {% endif %}
{% endfor %}
