{% extends "ticket/base.html" %}
{% load static svg %}
{% block ticket_content %}
  <div class="content_container ticket-detail max-w-prose">
    <div class="ticket-detail-header">
      <p>Välkommen till Kårspexet</p>
      <h1>{{ production.name }}</h1>
      <p class="alt-name">{{ production.alt_name }}</p>
      <ul class="show-info">
        <li class="mb-1">
          <span class="inline-flex items-center mr-2">
            <span class="inline-flex text-gold items-center justify-center mr-1">
              {% include "icons/calendar.svg" %}
            </span>
            <em class="leading-none">{{ show.date|date:"Y-m-d" }}</em>
          </span>

          <span class="inline-flex items-center">
            <span class="inline-flex text-gold items-center justify-center mr-1">
              {% include "icons/clock.svg" %}
            </span>
            <em class="leading-none">{{ show.date|date:"H:i" }}</em>
          </span>
        </li>
      </li>
      <li class="inline-flex items-center">
        <span class="inline-flex text-gold items-center justify-center mr-1">
          {% include "icons/map-pin.svg" %}
        </span>
        <address class="leading-none"><em>{{ venue.name }}, {{ venue.address }}</em></address>
      </li>
      {% if venue.map_address %}
        <li><a href="{{ venue.map_address }}" target="_blank">Öppna på karta</a></li>
      {% endif %}
    </ul>
  </div>
  {% if messages %}
    <section>
      <ul class="messages">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    </section>
  {% endif %}
  <main class="pb-4 max-w-prose reservation-details">
    <h2>Här finner du dina biljetter</h2>

    <ul>
      {% for ticket in tickets %}
        <li>
          <a href="{% url 'ticket_pdf' reservation.id ticket.ticket_code %}">
            {{ ticket.seat.group.name }} ({{ ticket.get_ticket_type_display }})
          </a>
        </li>
      {% endfor %}
    </ul>

    <p>
      Vi kommer skicka ett mail till dig med den här informationen och en länk till
      den här sidan.
    </p>

    <p class="bg-red-darker p-4 my-4 rounded">
      <span class="text-gold float-right">{% include "icons/exclamation.svg" %}</span>
      Ibland kommer vissa mail inte fram, så vi rekommenderar att du laddar ner
      biljetterna härifrån på en gång, eller sparar en länk till denna sida.
    </p>

    <form action="{% url 'send_reservation_email' reservation.reservation_code %}" method="post" class="w-56 styled-form">
      {% csrf_token %}
      <div class="mb-2">
        {{ email_form.email }}
      </div>
      <button type="submit">
        Skicka bokningen via E-post
      </button>
    </form>
  </main>
  </div>
{% endblock %}
