{% extends "economy/base.html" %}
{% load static %}
{% block economy_content %}
  <h2>Föreställningsöversikt</h2>

  <table>
    <thead>
      <tr>
        <th>Föreställning</th>
        <th>Datum</th>
        <th>Teater</th>
        <th>Sålda biljetter</th>
        <th>Antal platser</th>
        <th>Beläggning (%)</th>
      </tr>
    </thead>
    <tbody>
      {% for show in shows %}
        <tr>
          <td><a href="{% url 'economy_show_detail' show.id %}">{{ show.production.name }} {{ show.short_description }}</a></td>
          <td class="whitespace-nowrap">{{ show.date|date:"Y-m-d H:i"  }}</td>
          <td>{{ show.venue.name }}</td>
          <td class="text-right">{{ show.ticket_count }}</td>
          <td class="text-right">{{ show.venue.seat_count }}</td>
          <td class="text-right">{{ show.sales_percentage|floatformat:"0" }}%</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
