{% extends "base.html" %}
{% load static sekizai_tags %}
{% block content %}

  <div class="mx-4">

    <h1>Föreställningsöversikt: {{ show.production.name }} {{show.date|date:"Y-m-d H:i" }}</h1>
    <em>{{ show.venue }}</em>

    <h2>Sålda biljetter</h2>

    <table class="details-table">
      <tr>
        <th>Platser</th>
        <th>Totalt Sålda</th>
        <th>Beläggning</th>
        <th>Student</th>
        <th>Fullpris</th>
        <th>Sponsor</th>
      </tr>
      <tr>
        <td>{{ coverage.seat_count }}</td>
        <td>{{ coverage.ticket_count }}</td>
        <td>{{ coverage.sales_percentage|floatformat }}%</td>
        <td>{{ ticket_counts.student }}</td>
        <td>{{ ticket_counts.normal }}</td>
        <td>{{ ticket_counts.sponsor }}</td>
      </tr>
    </table>

    {% if not show.free_seating %}
      <h2>Platskarta</h2>
      <span class="theater-seat-map">
        {% include "seat_map.svg" with venue=show.venue taken_seats=taken_seats %}
      </span>
    {% endif %}

    <h3>Besökare</h3>

    <table class="costumer-table-data" data-tablesort>
      <thead>
        <tr>
          <th class="cursor-pointer text-gold underline">Sektion</th>
          <th class="cursor-pointer text-gold underline">Plats</th>
          <th class="cursor-pointer text-gold underline">Namn</th>
          <th class="cursor-pointer text-gold underline">Telefonnummer</th>
          <th class="cursor-pointer text-gold underline">E-postadress</th>
          <th class="cursor-pointer text-gold underline">Biljettyp</th>
          <th class="cursor-pointer text-gold underline">Referens</th>
        </tr>
      </thead>
      <tbody>
        {% for ticket in tickets %}
          <tr>
            <td>{{ ticket.seat.group.name }}</td>
            <td>{{ ticket.seat.name  }}</td>
            <td>{{ ticket.account.name }}</td>
            <td class="number">{{ ticket.account.phone }}</td>
            <td>{{ ticket.account.email }}</td>
            <td>{{ ticket.ticket_type }}</td>
            <td>{{ ticket.reference }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% addtoblock "js" %}<script type="text/javascript" src="https://unpkg.com/tablesort"></script>{% endaddtoblock %}
  {% addtoblock "js" %}
    <script charset="utf-8">
      document.querySelectorAll('[data-tablesort]').forEach((el) => {
        Tablesort(el, {})
      })
    </script>
  {% endaddtoblock %}
{% endblock %}
